<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div *ngIf="!abonnementForEdite" class="card-header card-header-danger">
                        <h4 class="card-title">Add abonnement</h4>
                        <p class="card-category">add abonnement</p>
                    </div>
                    <div *ngIf="abonnementForEdite" class="card-header card-header-danger">
                        <h4 class="card-title">Update abonnement</h4>
                        <p class="card-category">Update abonnement</p>
                    </div>
                    <div class="card-body">
                        <form (ngSubmit)="submit()" [formGroup]="ajoutFormAbonnement">
                            <div class="row">
                               
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Amount" formControlName="amount">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Total cost" type="text" formControlName="totalcost">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Type Abonnement" type="text" formControlName="type_abonnement">
                                  </mat-form-field>
                                </div>
                            </div>

    
                            <button mat-raised-button *ngIf="!abonnementForEdite"  type="submit" class="btn btn-danger pull-right" >Create abonnement</button>
                            <button mat-raised-button *ngIf="abonnementForEdite"  (click)="showNotification('top','center')" type="submit" class="btn btn-danger pull-right" >Modifier abonnement</button>
                            
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="javascript:void(0)">
                            <img class="img" src="./assets/img/faces/marc.jpg" />
                        </a>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
  </div>