<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">list abonnement</h4>
                        <p class="card-category">abonner vous!!</p>
                        
                    </div>
                    <a href="javascript:void(0)" class="btn btn-danger btn-round" routerLink="/create">add</a>
                    <form class="form-inline my-2 my-lg-0">
                      </form>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="col-md-8" id="htmlData">
                                <div>
                                
                            </div>
                            <table class="table">
                                <thead class=" text-primary">
  
                                  <th>
                                        Amount
                                    </th>
                                    <th>
                                        Total Cost
                                    </th>
                                    <th>
                                        Type abonnement
                                    </th>
                                    
                                </thead>
                                <tbody>
                                    <tr *ngFor="let abonnement of listeAbonnement">
                                        <td>
                                           {{abonnement.amount}}
                                        </td>
                                        <td>
                                            {{abonnement.totalcost}}$
                                        </td>
                                        <td>
                                            {{abonnement.type_abonnement}}
                                        </td>
                                        
                                        <td>
                                          <a href="javascript:void(0)" class="btn btn-danger btn-round">view</a>
                                          
  
                                        </td>
                                        <td class="td-actions text-right">
                                          <button mat-raised-button type="button" matTooltip="Edit Task" (click)="updateAbonnement(abonnement)"  [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                              <i class="material-icons">edit</i>
                                          </button>
                                          <button mat-raised-button type="button" matTooltip="Remove" (click)="removeAbonnement(abonnement)" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                              <i class="material-icons">close</i>
                                          </button>
                                      </td>
                                    </tr>
                                    <button type="button" class="btn btn-primary btn-lg btn-block" (click)="openPDF()">Download PDF</button>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>