<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">list Soustraitance</h4>
                        <p class="card-category">Soustraitance!!</p>
                    </div>
                    <a href="javascript:void(0)" class="btn btn-danger btn-round" routerLink="/icons">add</a>
                    <form class="form-inline my-2 my-lg-0">
                      </form>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="col-md-8" id="htmlData">
                            <table class="table">
                                <thead class=" text-primary">
  
                                  <th>
                                        Prix_offre
                                    </th>
                                   
                                    <th>
                                        Type Soustraitance
                                    </th>
                                    <th>
                                        role Soustraitance
                                    </th>
                                    
                                </thead>
                                <tbody>
                                    <tr *ngFor="let SousTraitance of listeSoustraitance">
                                        <td>
                                           {{SousTraitance.prix_offre}}
                                        </td>
                                
                                        <td>
                                            {{SousTraitance.type}}
                                        </td>
                                        <td>
                                            {{SousTraitance.role_traitance}}
                                        </td>
                                        
                                        <td>
                                          <a href="javascript:void(0)" class="btn btn-danger btn-round">view</a>
  
                                        </td>
                                        <td class="td-actions text-right">
                                          <button mat-raised-button type="button" matTooltip="Edit Task" (click)="updateSoustraitance(SousTraitance)"  [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                              <i class="material-icons">edit</i>
                                          </button>
                                          <button mat-raised-button type="button" matTooltip="Remove" (click)="removeSoustraitance(SousTraitance)" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                              <i class="material-icons">close</i>
                                          </button>
                                      </td>
                                    </tr>
                                    <button type="button" class="btn btn-primary btn-lg btn-block" (click)="openPDF()">Download PDF</button>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>