<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div *ngIf="!soustraitanceForEdite" class="card-header card-header-danger">
                        <h4 class="card-title">Add Soustraitance</h4>
                        <p class="card-category">add Soustraiance</p>
                    </div>
                    <div *ngIf="soustraitanceForEdite" class="card-header card-header-danger">
                        <h4 class="card-title">Update Soustraitance</h4>
                        <p class="card-category">Update Soustraiance</p>
                    </div>
                    <div class="card-body">
                        <form (ngSubmit)="submit()" [formGroup]="ajoutFormSoustraitance">
                            <div class="row">  
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Prix_offre" formControlName="prix_offre">
                                    </mat-form-field>
                                </div>                                
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Type Soustraitance" type="text" formControlName="type">
                                  </mat-form-field>
                                </div>  
                            </div>
                            <mat-form-field appearance="fill">
                                <mat-label>Cars</mat-label>
                                <select matNativeControl required formControlName="role_traitance">
                                    <option *ngFor="let role of roles" [value]="role">
                                        {{role}}
                                    </option>
    
                                </select>
                              </mat-form-field>

                            <button mat-raised-button *ngIf="!soustraitanceForEdite"  type="submit" class="btn btn-danger pull-right" >Create Soustraitance</button>
                            <button mat-raised-button *ngIf="soustraitanceForEdite"  type="submit" class="btn btn-danger pull-right" >Modifier Soustraitance</button>

                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="javascript:void(0)">
                            <img class="img" src="./assets/img/faces/marc.jpg" />
                        </a>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
  </div>