.chatbotContainer {
	max-width: 500 !important;
	margin: auto;
	margin-top: 4%;
	letter-spacing: 0.5px;
	position: fixed;
	bottom: 0px;
	right: 0px;
	background-color: #fff;
	z-index: 99;
	width: 400px;
	border-radius: 13px 13px 0 0;
}
.msg-header {
	border: 1px solid #ccc;
	border-radius: 13px 13px 0 0;
	width: 100%;
	height: 10%;
	border-bottom: none;
	display: inline-block;
	background: linear-gradient(87deg, #f5365c 0, #f56036 100%) !important;
}
.active {
	width: 120px;
	float: left;
	margin-top: 10px;
	h4 {
		font-size: 20px;
		margin-left: 10px;
		color: #fff;
	}
	h6 {
		font-size: 10px;
		margin-left: 10px;
		line-height: 2px;
		color: #fff;
	}
}
.chat-page {
	padding: 0 0 50px 0;
}
.msg-inbox {
	border: 1px solid #ccc;
	overflow: hidden;
	padding-bottom: 30px;
}
.chats {
	padding: 30px 15px 0 25px;
}
.msg-page {
	height: 170px;
	overflow-y: auto;
}
.received-msg {
	display: inline-block;
	padding: 0 0 0 10px;
	vertical-align: top;
	width: 92%;
}
.received-msg-inbox {
	width: 85%;
	float: right;
	margin-top: 29px !important;
	p {
		background: #efefef none repeat scroll 0 0;
		border-radius: 10px;
		color: #646464;
		font-size: 14px;
		margin: 0;
		padding: 5px 10px 5px 12px;
		width: 100%;
	}
}
.outgoing-chats {
	overflow: hidden;
	margin: 26px 20px;
}
.outgoing-msg {
	p {
		background: #007bff none repeat scroll 0 0;
		color: #fff;
		border-radius: 10px;
		font-size: 14px;
		margin: 0;
		padding: 5px 10px 5px 12px;
		width: 100%;
	}
	float: left;
	width: 46%;
	margin-left: 45%;
}
.msg-bottom {
	position: relative;
	height: 10%;
	background-color: #007bff;
}
.chatInput-group {
	float: right;
	margin-top: 13px;
	margin-right: 20px;
	outline: none !important;
	border-radius: 20px;
	width: 61% !important;
	background-color: #fff;
	.fa {
		color: #007bff;
		float: right;
	}
}
.form-control {
	border-radius: 20px !important;
	&:focus {
		border-color: none !important;
		box-shadow: none !important;
		border-radius: 20px;
	}
}
.input-group-text {
	background: transparent !important;
	border: none !important;
}
.bottom-icons {
	float: left;
	margin-top: 17px;
	width: 30% !important;
	margin-left: 22px;
	.fa {
		color: #fff;
		padding: 5px;
	}
}
.robotImg {
	width: 15%;
	position: relative;
	margin-top: 13%;
}
.jumbotron {
	background: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v904-nunny-017_4.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=caeed1248752b0359b46d257288933e9");
	height: 239px;
}
.ProfileName {
	margin-top: 12%;
	font-family: "Segoe UI";
	font-size: 36px;
	font-weight: bold;
}
.profileContainer {
	background-color: #feccde;
	border-radius: 36px;
	border: #e0e0e0 1px solid;
	padding: 20px;
	filter: drop-shadow(2px 1px 4px #e40d5c7b);
}
