<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <a href="javascript:void(0)" class="btn btn-danger btn-round" routerLink="/visite">back</a>
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Add a Visite</h4>
                        <p class="card-category">add a Visite</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <!-- <div class="col-md-3">
                                    
                                     <mat-form-field appearance="fill">
                                       <mat-label>Select an option</mat-label>
                                       <mat-select [(value)]="selected" [(ngModel)]="Proprety.nom">
                                         <mat-option>None</mat-option>
                                         <mat-option value="PropertyNormal"> PropertyNormal</mat-option>
                                         <mat-option value="PropertyLuxe">PropertyLuxe</mat-option>
                                       </mat-select>
                                      
                                     </mat-form-field>
                                    </div> -->
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder=" date" type="datetime-local" [(ngModel)]="Visite.dateVisite">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="confirmation" type="text" [(ngModel)]="Visite.confirmation">
                                  </mat-form-field>
                                </div>
                                
                                
                            </div>
                            
                           
                           
                            
                                
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="createVisite()">Create visit</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile">
                  
                    <a href="javascript:void(0)">
                      <img class="img" src="./assets/img/faces/prop2.png" />
                    </a>
                  
        
                </div>
              </div>
            
        </div>
    </div>
  </div>
  