<div class="col-md-6 offset-md-3">
    <h3>Add Help</h3>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Amount</label>
            <input type="number" class="form-control" placeholder="Amount" id="montant" [(ngModel)]="aide.monatnt"  [ngModelOptions]="{standalone: true}"  >
        </div>
        <br>
        <div class="form-group">
            <label>Period</label>
            <input type="text" class="form-control" placeholder="Period" id="periode" [(ngModel)]="aide.periode" [ngModelOptions]="{standalone: true}">
        </div>
        <br>
        <div class="form-group">
            <label>Type Help</label>
            <input type="text" class="form-control" placeholder="Type Help" id="type" [(ngModel)]="aide.type_aide" [ngModelOptions]="{standalone: true}">
        </div>
        <br>
        <button class="btn btn-success" type="submit">Submit</button>
    </form>
</div>
