
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">List Help </h4>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
<div class="row">
    <div class="col-md-6">
    <button type="button" href="javascript:void(0)" class="btn btn-danger btn-round" (click)="addAide()">Add Help </button> 
  </div>

  <button type="button" href="javascript:void(0)" class="btn btn-danger btn-round" (click)="openPDF()">Download PDF</button>

  <button type="button" href="javascript:void(0)" class="btn btn-danger btn-round" (click)="getAideClasse()">Rank Help</button>
</div>

<div class="row">
    <div class="col-md12">
        <div class="card" class="text-center">

            <div class="col-md-12" id="htmlData">
                <table class="table">
                
                    <thead style="background-color:rgb(red, green, blue)">
                    
                    <th>Amount</th>
                    <th>Period</th>
                    <th>type Help</th>
                    <th>Actions</th>
                    </thead>
                    <tbody  *ngFor='let p of listAide'>
                        <tr>
                            
                            <td>{{p.monatnt}}</td>
                            <td>{{p.periode}}</td>
                            <td>{{p.type_aide}}</td>
                            <td>
                            <button type="button" class="btn btn-outline-warning" (click)="updateAide(p.idUser)">update</button>
                                <button type="button" class="btn btn-outline-danger"
                                (click)="deleteAide(p.idUser)">delete</button>                               
                            </td>
                            
                        </tr>
                    </tbody>
                </table>
             </div>
        </div>
    </div>
</div>



